body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 0px;
    position: static;
}

#info {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 13px;
    height: 13px;
}

#back {
    color: white;
    font-size: 10pt;
    display: none;
}

#apple-initValues {
    display: none;
}

#done {
    position: absolute;
    top: 335px;
    left: 300px;
}

#feed {
    position: absolute;
    left: 0px;
    top: 22px;
    font-family: LucidaGrande-Bold;
    font-size: 18pt;
    color: white;
    text-align: center;
    cursor: pointer;
}

#feed-bottom {
    position: absolute;
    left: 65px;
    top: 34px;
    font-family: LucidaGrande;
    font-size: 16pt;
    color: white;
    text-transform: uppercase;
    text-shadow: rgb(0, 52, 129) 0pt 1pt 1pt;
}

#feedURL {
    position: absolute;
    top: 54px;
    left: 23px;
}

#contentarea {
    display: block;
    position: absolute;
    left: 12px;
    background-color: rgb(255, 255, 255);
    top: 70px;
    right: 12px;
    width: auto;
    bottom: 31px;
    height: auto;
}

#front {
    display: block;
}

.group {
    padding-top: 8px;
    padding-left: 1px;
    padding-bottom: 11px;
    background-image: url(Images/Separator.tif);
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position-x: 50%;
    background-position-y: 0%;
    background-color: initial;
    line-height: 130%;
    background-position: 50% 0%;
}

.grouptitle {
    line-height: 180%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Helvetica;
    font-size: 13px;
}

#article-length {
    position: absolute;
    top: 85px;
    font-family: HelveticaNeue;
    right: 29px;
    margin-left: auto;
    width: 222px;
    left: 29px;
    margin-right: auto;
    visibility: hidden;
}

#slider {
    position: absolute;
    top: 109px;
    left: 100px;
    right: 95px;
    height: 16px;
    width: 83px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#sliderMin {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 111px;
    left: 77px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#sliderMax {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 111px;
    left: 186px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#loading-text {
    font-family: HelveticaNeue-Bold;
    color: rgb(255, 255, 255);
    font-size: 11px;
    display: block;
    position: absolute;
    left: 20px;
    top: 221px;
    margin-right: auto;
    margin-top: auto;
    height: 13px;
    bottom: 16px;
}

#topRectangleShape {
    position: absolute;
    height: 42px;
    top: 12px;
    left: 12px;
    display: block;
    right: 12px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100% - 24px);
    margin-bottom: auto;
}

#rectangleShape {
    position: absolute;
    margin-top: 0px;
    left: 12px;
    right: 12px;
    width: calc(100% - 24px);
    top: 42px;
    height: 29px;
}

#bottomRectangleShape {
    position: absolute;
    height: 19px;
    left: 12px;
    display: block;
    right: 12px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: auto;
    bottom: 12px;
}

.message-title {
    color: black;
    line-height: 180%;
    font: normal normal bold 15px/normal Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 7px;
}

.message-body {
    font: normal normal normal 12px/normal Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 130%;
    margin-top: 2px;
}

#img {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    height: 43px;
    width: 113px;
    top: 20px;
    left: 58px;
}

#img1 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 64px;
    height: 49px;
    top: 16px;
    left: 7px;
}

#div {
    bottom: 7px;
}

#roundedRectangleShape {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 7px;
    top: 9px;
    width: 363px;
    height: 361px;
}

#img2 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    height: 65px;
    width: 170px;
    left: 170px;
    top: 128px;
}

#img3 {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 241px;
    height: 183px;
    left: 4px;
    top: 41px;
}

#text {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(128, 128, 128);
    text-align: center;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    font-family: 'Helvetica Neue';
    font-size: 9pt;
    top: 339px;
    left: 35px;
    width: auto;
    height: auto;
}

#text1 {
    font-family: HelveticaNeue;
    font-size: 10pt;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    left: 50px;
    color: rgb(128, 128, 128);
    top: 253px;
    width: auto;
    height: auto;
}

#text2 {
    font-family: HelveticaNeue;
    font-size: 10pt;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    right: -10px;
    width: 59px;
    left: 192px;
    min-height: 15px;
    color: rgb(128, 128, 128);
    top: 253px;
    bottom: 110px;
    height: auto;
}

#text3 {
    font-family: HelveticaNeue;
    font-size: 10pt;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    left: 68px;
    color: black;
    top: 301px;
    width: auto;
    height: auto;
}

#username {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    left: 50px;
    width: 119px;
    top: 270px;
}

#password {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 10pt;
    width: 119px;
    left: 192px;
    top: 270px;
}

#self_feed {
    position: absolute;
    color: black;
    font-family: HelveticaNeue;
    font-size: 13pt;
    left: 46px;
    width: 119px;
    top: 300px;
}

#username_display {
    font-family: HelveticaNeue;
    position: absolute;
    margin-top: 0px;
    text-align: right;
    font-size: 14pt;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(128, 128, 128);
    line-height: 16px;
    top: 33px;
    right: 23px;
    width: auto;
    height: auto;
}

#content {
    position: absolute;
    left: 11px;
    top: 0px;
    bottom: 0px;
    right: 36px;
    width: auto;
    height: auto;
    font: normal 12px Helvetica, sans-serif;
    color: #333333;
    line-height: 130%;
    overflow: hidden;
/*    display: -khtml-box;
    -khtml-box-orient: vertical;
    -apple-line-clamp: 100%; */
}

#content > div {
    overflow: hidden;
    position: relative;
}

#content .articlehead {
    position: relative;
    color: black;
    font: bold 13px Helvetica, sans-serif;
    letter-spacing: 0.07em;
    white-space: nowrap;
    /* display: -khtml-box;
    -khtml-box-orient: horizontal;
    -khtml-box-align: baseline; */
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 7px;
}

#content .subject {
    border-bottom: 2px solid transparent;
    /* -khtml-box-flex: 60; */
}

#content a.articlehead[href] > .subject:hover {
    /* a.articlehead has no href if there's no permalink */
    border-bottom: 2px solid #888;
}

.author, .date {
    display: inline-block;
    color: rgb(177,177,177);
    font-size: 85%;
    letter-spacing: 0.07em;
    float: right;
    text-align: right;
    margin-top: 16px;
}

.author, .subject {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 19.5em;
    max-width: calc(100% - 7em);
    margin-top: 15px;
    margin-right: 1em;
}

.author {
    /* -khtml-box-flex: 40; */
}

#content .articlecontent {
    background-color: #eee;
}

.articlebody {
    /* -khtml-margin-top-collapse: discard; */
}

#content .articleseparator {
    border-top: 1px solid #CCCCCC;
    height: 1px;
}

a.articlelink {
    text-decoration: underline;
    white-space: nowrap;
}

a.articlelink:link,
a.articlelink:visited {
    color: rgb(34,98,245);
}

div.article {
    width: 100%; 
    display: block; 
    padding-bottom: 12px;
}

div.message {
    max-width: 40em;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Uncomment to provide alternating rows
div.odd {
    background-color: rgb(255, 255, 255);
}

div.even {
    background-color: rgb(237, 243, 254);
}
*/

div.articlebody a {
    text-decoration: none;
}

div.articlebody a:hover {
    text-decoration: underline;
}

.fulldate {
    color: DarkGray;
    font-weight: Bold;
}

.reldate {
    color: Chocolate;
}
